/* .demo-layout-transparent {
  background: url("../images/header-image-test.png") center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button { */
/* This background is dark, so we set text to white. Use 87% black instead if
   your background is light. */
/* color: white;
} */

/* .header {
  max-width: 450px;
} */

/* .demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("../assets/demos/welcome_card.jpg") center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
} */
/*    #######################3   Loading   GIF        ######################     */
#loader {
  height: 100vh;
  width: 100vw;
  background-color: #226db1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all, 5s;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*              #########################   Main Body #3###################    */

body {
  height: 5000px;
  overflow-x: hidden;
}

.whole-content-wrapper {
  max-width: 1680px;
  margin: auto;
}

.main-head-container {
  background: #233740;
  height: 720px;
  width: 100%;
  text-align: center;
  /* max-width: 1680px; */
}

.banner-img {
  width: 100%;
}

.moving-title {
  position: fixed;
  top: 75%;
  transform: translateY(-50%);
  white-space: nowrap;
  left: 100px;
}

.main-title-wrap {
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 125px;
  max-height: 120%;
  margin: 0 17%;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
}

.main-title-wrap > div {
  font-size: 74px;
  color: white;
  display: block;
  padding: 5px;
  transform: rotate(90deg);
  transform-origin: right top;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

/* .horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:80px;
  max-height:500px;
  margin:0;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
} */

.horizontal-scroll-wrapper > div {
  display: block;
  padding: 5px;
  transform: rotate(90deg);
  transform-origin: right top;
}

.header-scrol-object {
  padding: 60px 0 0 0;
}

.header-scrol-object > div {
  width: 80px;
  height: 55px;
  margin: 10px;
}

/*  #############  iFrame Stuff######################   */
.video-section {
  height: 95vh;
  padding: 7%;
  padding-bottom: 0;
}

.iframe-wrapper {
  width: 100%;
  height: 90%;
  margin: auto;
  text-align: center;
}

/*  #############   Video Para part   ######### */
.content-below-video-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7%;
  padding-top: 0;
  position: relative;
}

.video-para-left {
  width: 50%;
}

.video-para-left > h2 {
  margin: unset;
  margin-bottom: 3%;
  font-size: 50px;
  font-weight: 600;
}

.video-para-left > p {
  font-size: 18px;
  margin-bottom: unset;
  letter-spacing: 3px;
}

.video-para-right {
  width: 46.5%;
  display: table;
  /* height: 300px; */
  /* margin: auto; */
  text-align: center;
  vertical-align: middle;
}

.video-para-right > p {
  width: 45%;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 300;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/*  ######       MISSION STATEMENT PART      ######### */
.mission-section {
  background-image: url("../images/Black-Background.png");
  height: 1998px;
}
/* 
.mission-section-fixed {
  width: 100%;
  position: fixed;
  background-image: url("../images/Black-Background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
} */

/* .mission-statement-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */

/* .mission-section-wrap {
  background-image: url("../images/Black-Background.png");
  height: 1998px;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  margin: 0 17%;
  overflow-y: auto;
  overflow-x: auto;
  transform: roxtate(-90deg) translateY(-80px);
  transform-origin: right top;
} */

/* .mission-section-wrap > div {
  width: 100%;
  font-size: 74px;
  color: white;
  display: table;
  padding: 5px;
  transform: rotate(90deg);
  transform-origin: right top;
} */

/* .mission-statement-wrap-1 {
  text-align: left;
  width: 100%;
}

.mission-statement-wrap-2 {
  text-align: right;
  width: 100%;
} */

/* .mission-statement-wrap-1 > p {
  color: white;
  font-size: 24px;
  /* margin-bottom: 12px; */
/* } */

.mission-statement-wrap-2 > h2 {
  color: white;
  font-size: 42px;
}

/* #################################   scroll test par   ############################  */
.mission-section-wrap {
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../images/Black-Background.png");
}

.module {
  width: 100%;
  min-height: 200px;
  background: black;
  position: relative;
  float: left;
  margin-right: 4%;
  display: table;
  vertical-align: middle;
}

.mission-p {
  line-height: 200px;
  color: white;
  width: 100%;
  padding-left: 7%;
  margin: unset;
  display: table-cell;
  font-size: 20px;
  letter-spacing: 3px;
}

.mission-h2 {
  line-height: 180px;
  color: white;
  width: 100%;
  text-align: right;
  padding-right: 10%;
  margin: unset;
  display: table-cell;
  font-size: 180px;
  font-weight: 600;
}
/* 
body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  padding: 30px;
} */

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.8s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/*     ##################   btrax staff section  #################### */
.employee-section {
  padding: 5% 7%;
}

.employee-section-title {
  padding-left: 2%;
  margin-top: 150px;
  margin-bottom: 300px;
}

.employee-section h2 {
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 65px;
}

.employee-section p {
  font-size: 58px;
}

/*      ###########   Staff Card   ###############     */
/*      ###########   Staff Card   ###############     */
.employee-pictures-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.employee-card {
  text-align: center;
}

.employee-picture {
  width: 80%;
}

.name-wrap {
  margin-top: 20px;
}

.name-wrap > p {
  font-size: 22px;
  color: #54849a;
  font-weight: 700;
}

.occupation-address-wrap {
  margin-top: 10px;
}

.occupation-address-wrap > p {
  font-size: 12px;
  margin-bottom: unset;
}

/* entire container, keeps perspective */
.flip-card-container {
  perspective: 1000px;
  width: 20%;
  margin: auto;
}

/* flip the pane when hovered */
.flip-card-container:hover .flipper,
.flip-card-container.hover .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-card-container,
.front-card,
.back-card {
  width: 300px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front-card,
.back-card {
  /* -webkit-perspective: 0; */
  -webkit-backface-visibility: hidden;
  /* -webkit-transform: translate3d(0, 0, 0); */
  visibility: visible;
  backface-visibility: hidden;
  position: absolute;

  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/*    ######### Footer   ##############   */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #233740;
  height: 300px;
  text-align: center;
  color: white;
  padding: 4%;
}

footer h2 {
  margin: unset;
  margin-bottom: 2%;
}

.icon-wrap {
  width: 23%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-wrap a:hover {
  color: #226db1;
}

.social-share {
  color: white;
}

/*     ##################     MEDIA QUERY    ########################  */

@media only screen and (min-width: 1681px) {
  .main-head-container {
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .main-head-container {
    height: auto;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 872px) {
  .icon-wrap {
    width: 28%;
  }
}

@media only screen and (max-width: 872px) {
  .content-below-video-wrap {
    justify-content: unset;
    text-align: left;
  }

  .video-para-left {
    width: 100%;
    margin-bottom: 4%;
  }

  .video-para-right {
    width: 100%;
  }

  .video-para-right p {
    font-size: 19px;
    line-height: 1.4;
  }

  .module {
    min-height: 175px;
  }

  .mission-p {
    line-height: 175px;
    font-size: 30px;
  }

  .mission-h2 {
    line-height: 175px;
    font-size: 140px;
  }
}

@media only screen and (max-width: 426px) {
  /* .iframe-wrapper {
    height: 40%;
  } */

  .video-section {
    height: 30vh;
  }

  .video-para-left h2 {
    font-size: 27px;
    margin-bottom: unset;
  }

  .video-para-left p {
    font-size: 14px;
    letter-spacing: 3px;
  }

  .video-para-right p {
    font-size: 14.5px;
  }

  .employee-section-title {
    margin-top: 82px;
    margin-bottom: 82px;
  }

  .employee-section-title h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }

  .employee-section-title p {
    padding: unset !important;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }

  .flip-card-container,
  .front-card,
  .back-card {
    width: 276px;
    height: 386px;
  }

  .module {
    min-height: 70px;
  }

  .mission-p {
    font-size: 18px;
  }

  .mission-h2 {
    line-height: 68px;
    font-size: 68px;
  }

  footer h2 {
    font-size: 28px;
    line-height: 28px;
  }

  .icon-wrap {
    width: 70%;
  }
}

@media only screen and (max-width: 871px) and (min-width: 632px) {
  .video-section {
    height: 45vh;
  }

  .module {
    min-height: 110px;
  }

  .mission-p {
    font-size: 25px;
  }

  .mission-h2 {
    line-height: 110px;
    font-size: 110px;
  }

  .employee-section-title {
    text-align: center;
    padding-left: unset;
  }

  .employee-section-title h2 {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 36px;
  }

  /* .employee-section p {
    font-size: 42px;
  } */

  footer h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .icon-wrap {
    width: 50%;
  }
}

@media only screen and (max-width: 631px) and (min-width: 426px) {
  .video-section {
    height: 40vh;
  }

  .video-para-left h2 {
    margin: unset;
    margin-bottom: 1%;
    font-size: 38px;
  }

  .module {
    min-height: 85px;
  }

  .mission-p {
    font-size: 22px;
  }

  .mission-h2 {
    line-height: 85px;
    font-size: 85px;
  }

  .employee-section-title h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
  }

  .employee-section-title p {
    padding: unset !important;
    font-size: 32px;
    text-align: center;
  }

  footer h2 {
    font-size: 26px;
    line-height: 26px;
  }

  .icon-wrap {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 872px) {
  .video-section {
    height: 70vh;
  }
}

@media only screen and (max-width: 1045px) {
  .spacer-card {
    display: none;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 769px) {
  .employee-section-title h2 {
    font-size: 94px;
  }

  .employee-section-title p {
    font-size: 50px;
  }
}
