.demo-layout-transparent {
  background: url("../images/header-image-test.png") center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
   your background is light. */
  color: white;
}

/* .header {
  max-width: 450px;
} */

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("../assets/demos/welcome_card.jpg") center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/*              #########################   Main Body #3###################    */
.whole-content-wrapper {
  max-width: 1680px;
  width: 100%;
  margin: auto;
}

.main-head-container {
  background: #233740;
  height: 100vh;
  text-align: center;
}

.banner-img {
  height: 100%;
}

/*  #############  iFrame Stuff######################   */
.iframe-wrapper {
  width: 75%;
  height: 45vh;
  margin: auto;
}
